@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
div{
    margin: 0;
    box-sizing: border-box;
    border-collapse: collapse;
    /* border: 2px solid rgb(255, 0, 0);    */
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    background-color: black;
    overflow:hidden
}
html{
    background: black;
}
body::-webkit-scrollbar {
    display: none;
}